@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* Universal */

* {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
}

a {
  text-decoration: none;
}

/* Navbar starts now */

.navbar {
  width: 100%;
  max-width: 1440px;
  height: 156px;

  background-color: #353535;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;

  padding: 76px;
}

.nav-img {
  width: 160px;
  height: 45px;
}

.nav-items {
  width: 520px;
  height: 100%;
  /* border: 2px solid green; */
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.nav-items a {
  font-size: 16px;
  color: #000000;
  /* color: white; */
  gap: 46px;
}

.nav-btn {
  color: white;
  background-color: #75bf7a;
  font-size: 20px;
  /* width: 162px;
  height: 44px; */
  border: none;
  border-radius: 6px;
  padding: 10px 28px;
}

.navbar i {
  display: none;
}

/* Hero Section Starts */

.hero-section {
  width: 100%;
  display: flex;
  /* flex-grow: 1; */
  /* border: 2px solid blue; */
  padding-bottom: 22px;
}

.header-txt,
.header-img {
  width: 50%;
}

.header-txt {
  /* padding: 80px 50px; */
  padding-top: 140px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.hero-title {
  font-size: 52px;
  font-weight: 800;
  line-height: 56px;

  /* letter-spacing: 0%; */
}

.hero-para {
  color: #9e9da2;
  /* font-weight: 500; */
  font-size: 24px;
  line-height: 26px;
  margin-top: 20px;
  font-weight: 300;
}

.hero-btn-img {
  width: 95%;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  padding: 65px 0px;
  padding-bottom: 0px;
}

.hero-btn-img img {
  width: 242px;
}

.header-img {
  padding: 36px 14px;
  padding-bottom: 0;
}

.header-img img {
  width: 500px;
}

/* Drive Section */

.drive-section {
  /* height: 100px; */
  width: 92%;
  background-color: #75bf7a;
  margin: auto;
  border-radius: 8px;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 40px 60px;
}

.drive-section p {
  font-size: 24px;
  width: 240px;
  line-height: 30px;
}

.apply-to-drive {
  display: flex;
  justify-content: space-between;
  width: 70%;
  /* border: 2px solid black; */
}

.apply-to-drive input {
  width: 68.5%;
  border: none;
  border-radius: 5px;
  padding: 0px 30px;
  font-size: 18px;
}

.apply-to-drive input::placeholder {
  color: #dadada;
}

.apply-to-drive .drive-btn {
  /* width: 130px; */
  /* height: 0px; */
  background-color: black;
  padding: 20px 40px;
  border-radius: 5px;
  border: none;
  font-weight: 800;
  /* font-size: 17px; */
  letter-spacing: 1px;
}

/* Section How Tere Works Starts */

.second-sec {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 110px;
}

.tere-works h2 {
  color: #000000;
  text-align: center;
  font-size: 38px;
  font-weight: 800;
}

.tere-works span {
  color: #75bf7a;
}

.tere-works p {
  color: #9e9da2;
  width: 555px;
  font-size: 22px;
  text-align: center;
  line-height: 24px;
  margin: 20px 0px;
  font-weight: 300 !important;
}

/* Third Section Starts */

.third-sec {
  display: flex;
  padding: 80px 0px;
  /* flex-grow: 1; */
}

.left-box,
.center-box,
.right-box {
  width: 50%;
  /* border: 1px solid black; */
}

.third-sec #box1 {
  margin-bottom: 46px;
}

.third-sec #box3 {
  margin-bottom: 69px;
}

.third-sec #box1,
.third-sec #box2 {
  padding-right: 30px;
}

.third-sec #box3,
.third-sec #box4 {
  padding-left: 30px;
}

.left-box {
  padding-left: 170px;
}

.right-box {
  padding-right: 170px;
}

.third-sec .box img {
  width: 55px;
}

.third-sec h3 {
  /* font-size: 22px; */
  font-weight: 800;
  margin: 8px 0px;
}

.third-sec p {
  color: #9e9da2;
  font-size: 18px;
  font-weight: light;
}

.left-box {
  text-align: end;
}

.right-box {
  text-align: left;
}

.center-box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute */
}

.center-box img {
  position: absolute;
}

.center-box .circle-img {
  width: 360px;
}

.center-box .mobile-img {
  width: 252px;
}

.tere-benefits-mdq .title-tere-benefits-mdq {
  display: none;
}

/* Fourth Section Starts */

.fourth-sec {
  /* border: 2px solid black; */
  height: 1340px;
  padding: 10px 0px;
  /* border: 2px solid rgb(202, 202, 202); */
  /* background-color: white; */
}

.tere-benefits {
  width: 100%;
  height: 135px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
  margin-bottom: 40px;
}

.dots {
  display: flex;
  justify-content: space-between;
  width: 5%;
  /* border: 2px solid green; */
  /* background-color: lightskyblue; */
}

.dots div {
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 60%;
  background-color: blue;
}

.dots .circle1 {
  background-color: #75bf7a;
}

.dots .circle2 {
  background-color: #75bf7aad;
}

.dots .circle3 {
  background-color: #75bf7a76;
}

.dots .circle4 {
  background-color: #75bf7a52;
}

.title-tere-benefits {
  color: black;
  font-size: 26px;
  font-weight: bold;
}

.title-tere-benefits span {
  color: #75bf7a;
}

/* Boxes */

.fourth-sec .first-box,
.fourth-sec .second-box,
.fourth-sec .third-box {
  width: 75%;
  /* margin: auto; */
  margin-left: 128px;
  padding: 20px 0px;
  border-radius: 10px;
  /* border: 1px solid purple; */
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: center;
}

.fourth-sec .first-box img,
.fourth-sec .third-box img {
  width: 230px;
  margin-right: 100px;
  /* border: 1px solid orange; */
}

/* 1st Box */

.fourth-sec #one {
  color: #75bf7a;
  font-size: 75px;
  /* border: 1px solid black; */
}

.fourth-sec .one-box {
  font-size: 32px;
  color: black;
  font-weight: 500;
  line-height: 32px;
  width: 220px;
  /* border: 1px solid gold; */
  /* display: flex;
  justify-content: space-between;
  align-items: center; */

  /* width: 20px; */
}

.fourth-sec .first-box .title {
  display: flex;
  width: 335px;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid green; */
}

.fourth-sec .first-box .text {
  margin: 30px 40px;
}
.fourth-sec .first-box .text p {
  color: #9e9da2;
  font-size: 20px;
  font-weight: 400;
  width: 350px;
  line-height: 21px;
  /* border: 1px solid red; */
}

/* 2nd Box */

.fourth-sec .second-box {
  margin-left: 202px;
  width: 75%;
  padding: 35px 0px;
  border-radius: 10px;
  /* border: 1px solid purple; */
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 20px; */
}

.fourth-sec .second-box img {
  margin-left: 95px;
  /* border: 1px solid orange; */
  width: 222px;
}

.fourth-sec #two {
  color: #75bf7a;
  font-size: 75px;
  /* border: 1px solid black; */
}

.fourth-sec .two-box {
  font-size: 30px;
  color: black;
  font-weight: 500;
  line-height: 32px;
  width: 207px;
  padding-top: 22px;
  /* justify-content: space-between; */
}

.fourth-sec .second-box .title {
  display: flex;
  width: 335px;
  justify-content: space-between;
  align-items: start;
  padding-bottom: 0px;

  /* border: 1px solid green; */
}

.fourth-sec .second-box .text {
  margin: 30px 0;
  margin-right: 60px;
}
.fourth-sec .second-box .text p {
  color: #9e9da2;
  font-size: 20px;
  font-weight: 400;
  width: 280px;
  line-height: 20px;
  margin-left: 5px;
  /* border: 1px solid red; */
}

/* 3rd Box */

.fourth-sec #three {
  color: #75bf7a;
  font-size: 78px;
  /* border: 1px solid black; */
}

.fourth-sec .three-box {
  font-size: 32px;
  color: black;
  font-weight: 500;
  line-height: 30px;
  width: 220px;
  /* border: 1px solid gold; */
  /* display: flex;
  justify-content: space-between;
  align-items: center; */

  /* width: 20px; */
}

.fourth-sec .third-box .title {
  display: flex;
  width: 354px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  /* line-height: 40px; */
  /* border: 1px solid green; */
}

.fourth-sec .third-box .text {
  margin: 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fourth-sec .third-box .text p {
  color: #9e9da2;
  font-size: 20px;
  font-weight: 400;
  width: 446px;
  line-height: 21px;
  margin-left: 3px;
  /* border: 1px solid red; */
}

.fourth-sec .third-box img {
  width: 275px;
}

.last-sec {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.last-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.5px solid rgb(228, 228, 228);
  border-bottom: 0.5px solid rgb(228, 228, 228);
  padding: 40px;
  padding-top: 55px;
}

.last-container .last-tere img {
  width: 120px;
  margin-left: 80px;
}

/* .last-tere {
  display: flex;
  justify-content: flex-end;
  align-items: center;
} */

.last-content .last-header {
  color: #272042;
  font-size: 20px;
  font-weight: 400;
  line-height: 46px;
}

.last-content p {
  color: #8b8ba5;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
}

.last-btns img {
  width: 160px;
  margin: 0px 16px;
}

footer {
  background-color: white;
  color: #75bf7a;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  align-items: center;
  padding: 30px 0px;
}

/* Media Queries */

@media (max-width: 768px) {
  .navbar {
    width: 100%;
    height: 20%;
    /* border: 2px solid red; */
    align-items: center;
    padding: 15px;
    padding: 0px 20px;
    padding-bottom: 10px;
    padding-top: 40px;
  }

  .nav-img {
    width: 96px;
    height: 27px;
  }

  .navbar i {
    display: block;
    font-size: 25px;
    font-weight: light;
  }

  .nav-items,
  .nav-items a,
  .nav-btn {
    display: none;
  }

  /* Hero Section Starts */

  .hero-section {
    /* border: 1px solid blue; */
    width: 100%;
    padding: 0px 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  .header-img {
    /* border: 2px solid orange; */
    order: -1;
    background-color: #ffffff;
    width: 100%;
    margin: auto;
    padding: 0px;
    padding-top: 14px;
  }

  .header-img img {
    /* border: 2px solid black; */
    width: 100%;
  }

  .header-txt {
    /* border: 2px solid lime; */
    width: 100%;
    padding: 28px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-title {
    /* border: 1px solid green; */
    font-size: 32px;
    text-align: center;
    line-height: 34px;
    font-weight: 800;
  }

  .hero-para {
    /* border: 1px solid red; */
    color: #9e9da2;
    width: 100%;
    text-align: center;
    line-height: 22px;
    margin: 20px 0px;
    font-weight: 300;
    font-size: 20px;
    /* width: 91%; */
    /* margin: auto; */
    /* margin-top: 20px; */
  }

  .hero-btn-img {
    /* border: 2px solid gold; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    padding: 0px;
    /* padding-bottom: 0px;
    padding: 65px 0px;
    padding-right: 0px; */
    margin-top: 16px;
  }

  .hero-btn-img img {
    width: 155px;
  }

  /* Drive Section */

  .drive-container {
    /* border: 2px solid black; */
    padding: 0px 15px;
  }
  .drive-section {
    /* border: 2px solid rgb(255, 0, 0); */
    flex-direction: column;
    width: 100%;
    height: 255px;
    padding: 18px 20px;
    padding-bottom: 30px;
    border-radius: 5px;
    /* padding: 40px 60px; */
    margin-top: 30px;
  }

  .drive-section p {
    font-size: 26px;
    width: 100%;
    text-align: start;
  }

  .apply-to-drive {
    /* border: 1px solid rgb(255, 0, 174); */
    width: 100%;
    height: 120px;
    text-align: center;
    /* align-items: center; */
    flex-direction: column;
  }

  .apply-to-drive input {
    width: 100%;
    text-align: center;
    padding: 14px 0px;
    font-size: 18px;
  }

  .apply-to-drive .drive-btn {
    /* width: 130px; */
    /* height: 0px; */
    font-size: 17px;
    padding: 14px 0px;
    font-weight: 700;
    /* font-size: 17px; */
  }

  /* How Tere Works */

  .second-sec {
    width: 100%;
    /* border: 1px solid blue; */
    padding: 0px;
    padding: 50px 19px;
    padding-bottom: 0px;
  }

  .tere-works h2 {
    font-size: 24px;
    font-weight: 800;
  }

  .tere-works p {
    width: 100%;
    font-size: 19px;
    line-height: 24px;
    font-weight: 400 !important;
    margin: 18px 0px;
  }

  /* Third Section (3 Boxes) */

  .third-sec {
    /* border: 1px solid black; */
    flex-direction: column;
    padding: 20px 0px;
  }

  .center-box {
    order: -1;
    /* border: 2px solid red; */
    width: 100%;
    height: 500px;
    margin-top: 10px;
  }

  .center-box .circle-img {
    width: 315px;
  }

  .center-box .mobile-img {
    width: 220px;
  }

  .tere-benefits-mdq {
    /* border: 1px solid blue; */
    order: -1;
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 5px auto;
  }

  .title-tere-benefits-mdq {
    color: black;
    font-size: 17px;
    font-weight: 900;
  }

  .title-tere-benefits-mdq span {
    color: #75bf7a;
  }

  .dots-mdq {
    display: flex;
    justify-content: space-between;
    width: 15%;
    /* border: 1px solid green; */
  }

  .dots-mdq div {
    width: 11px;
    height: 11px;
    border: none;
    border-radius: 60%;
  }

  .dots-mdq .circle1 {
    background-color: #75bf7a;
  }

  .dots-mdq .circle2 {
    background-color: #75bf7aad;
  }

  .dots-mdq .circle3 {
    background-color: #75bf7a76;
  }

  .dots-mdq .circle4 {
    background-color: #75bf7a52;
  }

  .left-box,
  .right-box {
    width: 100%;
    padding: 0;
    display: contents;
  }

  .third-sec .box {
    /* border: 1px solid red; */
    text-align: center;
  }

  .third-sec .box img {
    width: 62px;
  }

  .third-sec h3 {
    font-size: 22px;
    font-weight: 800;
    margin: 8px 0px;
    margin-bottom: 15px;
  }

  .third-sec p {
    font-size: 23px;
    /* font-weight: light; */
    font-weight: 400;
    line-height: 25px;
  }

  .third-sec #box1,
  .third-sec #box2,
  .third-sec #box3,
  .third-sec #box4 {
    margin-bottom: 20px;
    padding: 20px 24px;
  }

  .third-sec #box1 {
    order: 1;
    width: 100%;
  }

  .third-sec #box3 {
    order: 2;
    width: 100%;
  }

  .third-sec #box2 {
    order: 3;
    width: 100%;
  }

  .third-sec #box4 {
    order: 4;
    width: 100%;
  }

  .tere-benefits-mdq .title-tere-benefits-mdq {
    display: block;
  }

  /* 4rth Section Starts */

  .fourth-sec {
    /* border: 2px solid yellowgreen; */
    height: 1600px;
    margin-top: 15px;
    padding: 20px 15px;
  }

  .fourth-sec .dots,
  .fourth-sec .title-tere-benefits {
    display: none;
  }

  .fourth-sec .title-tere-benefits-mdq {
    display: block;
  }

  .fourth-sec .tere-benefits {
    height: 0px;
  }

  /* Boxes */

  /* 4rth Section: 1st, 2nd and 3rd Boxes */

  .fourth-sec .first-box,
  .fourth-sec .second-box,
  .fourth-sec .third-box {
    /* border: 1px solid purple; */
    width: 100%;
    border-radius: 5px;
    flex-direction: column;
    margin-left: 0px;
    margin-bottom: 20px;
    padding: 35px 25px;
    align-items: center;
  }

  /* Image of 1st and 3rd Box */

  .fourth-sec .first-box img,
  .fourth-sec .third-box img {
    /* border: 2px solid peru; */
    width: 245px;
    margin-right: 0px;
    margin: 22px 0px;
  }

  .fourth-sec .first-box {
    margin-top: 60px;
  }

  /* Org Image of 1 */

  .fourth-sec #one {
    font-size: 65px;
    /* border: 2px solid black; */
  }

  /* Image Title - Flex hours */

  .fourth-sec .one-box {
    /* border: 2px solid darkmagenta; */
    width: 60%;
    font-size: 26px;
    color: black;
    font-weight: 500;
    line-height: 25px;
    /* display: flex;
  justify-content: space-between;
  align-items: center; */

    /* width: 20px; */
  }

  /* Image Whole Text  */

  .fourth-sec .first-box .text {
    width: 100%;
    /* border: 2px solid red; */
    display: contents;
  }

  /* Image Title  */

  .fourth-sec .first-box .title {
    width: 100%;
    order: 1;
    /* border: 1px solid blue; */
  }

  /* Clock Man Image */

  .fourth-sec .first-box img {
    order: 2;
  }

  /* Image Description */

  .fourth-sec .first-box .text p {
    /* border: 1px solid black; */
    font-size: 18px;
    width: 100%;
    line-height: 18px;
    order: 3;
    margin: 15px 0px;
    text-align: center;
  }

  /* Box 2 */

  /* Image of 2nd Box */

  .fourth-sec .second-box img {
    /* border: 2px solid peru; */
    width: 245px;
    margin-right: 0px;
    margin: 22px 0px;
  }

  /* Image Whole Text  */

  .fourth-sec .second-box .text {
    /* border: 2px solid red; */
    width: 100%;
    display: contents;
  }

  /* Org Image of 2 */

  .fourth-sec #two {
    /* border: 2px solid black; */
    font-size: 65px;
  }

  /* Image Title */

  .fourth-sec .two-box {
    /* border: 2px solid darkmagenta; */
    width: 60%;
    font-size: 26px;
    color: black;
    font-weight: 500;
    line-height: 40px;
  }

  /* Image Title  */

  .fourth-sec .second-box .title {
    /* border: 1px solid blue; */
    width: 100%;
    order: 1;
  }

  /* Coins Image */

  .fourth-sec .second-box img {
    order: 2;
  }

  /* Image Description */

  .fourth-sec .second-box .text p {
    /* border: 2px solid black; */
    order: 3;
    text-align: center;
    font-size: 18px;
    line-height: 17px;
    margin-left: 0px;
    padding: 0px 11px;
    /* width: 100%; */
  }

  /* 3rd Box */

  /* Image Whole Text  */

  .fourth-sec .third-box .text {
    /* border: 2px solid red; */
    width: 100%;
    display: contents;
  }

  /* Org Image of 3 */
  /* No: 03 */

  .fourth-sec #three {
    /* border: 2px solid black; */
    font-size: 62px;
  }

  /* Image Title  */

  .fourth-sec .third-box .title {
    /* border: 1px solid blue; */
    order: 1;
    width: 100%;
  }

  /* Image Title - Cus Supp */

  .fourth-sec .three-box {
    /* border: 2px solid darkmagenta; */
    width: 60%;
    font-size: 26px;
    color: black;
    font-weight: 500;
    line-height: 25px;
    /*
    display: flex;
    justify-content: space-between;
    align-items: center; 
    */
  }

  /* Cus Sup Image */

  .fourth-sec .third-box img {
    /* border: 1px solid blue; */
    order: 2;
    width: 260px;
  }

  /* Image Description */

  .fourth-sec .third-box .text p {
    /* border: 1px solid black; */
    order: 3;
    font-size: 18px;
    width: 100%;
    line-height: 20px;
    order: 3;
    margin: 10px 0px;
    text-align: center;
  }

  /* Last Section */

  .last-sec {
    /* border: 6px solid blue; */
    padding: 50px 0px;
    background-color: #f9f9f9;
  }

  /*  for desktop 
  
    .last-sec {
    background-color: white;
    display: flex;
    flex-direction: column;
  } */

  .last-container {
    border: 4px solid red;
    flex-direction: column;
    border: none;
    display: contents;
    justify-content: space-between;
  }

  /* 1st - Tere Image */

  .last-container .last-tere {
    margin: auto;
    margin-bottom: 35px;
  }
  .last-container .last-tere img {
    width: 130px;
    margin-left: 0px;
    order: 1;
  }

  /* 2nd - Btns */

  .last-btns {
    order: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90px;
    margin: auto;
    margin-bottom: 35px;
  }

  .last-btns img {
    width: 156px;
    margin: 0px;
  }

  /* 3rd - Header */

  .last-content {
    order: 3;
  }

  .last-content .last-header {
    line-height: 50px;
    text-align: center;
    font-weight: 400;
  }

  .last-content p {
    line-height: 34px;
    text-align: center;
  }

  .last-content-2 {
    display: none;
  }

  footer {
    color: #8b8ba5;
    padding: 0px 50px;
    padding-bottom: 50px;
    line-height: 18px;
    /* border: 4px solid orange; */
  }
}
